body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 60px;
    position: relative;
}

.menu {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-superior {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 0 30px;
    height: 30px;
    transform: translateY(50%);
    font-size: 13px;
}

.menu-superior p,img {
    display: inline;
}

.menu-superior a {
    text-decoration: none;
}

.menu-superior a:hover {
    text-decoration: underline;
}

.user-img-box {
    padding: 0 0 0 13px;
    display: inline;
}

.user-img {
    width: 32px;
    height: 32px;
    border-radius: 15px;
}

.gmail {
    padding: 0 15px 0 0;
    color: #000000de;
    bottom: 50%;
}

.imagens {
    padding: 0 15px 0 0;
    color: #000000de;
}

.menu-icone {
    width: 30px;
    height: 30px;
}

/* Main */

main {

}

.botoes {
    width: 940px;
}

.logo {
    height: 92;
    width: 272;
}

.botao-m {
    background-color: #f2f2f2;
    width: 140px;
    height: 36px;
    border-radius: 5%;
}

.botao-m a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-country {
    border-top: 1px solid #e4e4e4;
    height: 40px;
    position: relative;
}

.footer-country a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-adicional {
    border-top: 1px solid #e4e4e4;
    position: relative;
    height: 40px;
}

.footer-adicional-esquerda {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer-adicional-direita {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-adicional-direita-config {
    padding: 0 27px 0 27px;
}

footer a {
    text-decoration: none;
    color: #0000008a;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 27px;
    font-size: 14px;
}